<%= image_tag("Logo.png", :alt => "RoundTabled", :class => "logo") %>

<h1 class="align_right">bring everything to the table</h1>

<h2 class="align_right">assign, collect &amp; organize</h2>
<h2 class="align_right">your publication's content</h2>

<div class="notifyForm">
	<input class="subscriberEmail" id="email" name="email" onblur="if(this.value == ''){ this.value = 'Here\'s my email.' }" onfocus="if(this.value == 'Here\'s my email.'){ this.value = '' }" type="text" value="Here's my email.">
	<input type="submit" name="submit" value="Keep me posted" class="submit-button">
</div>